<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="250px" alt="Logo Mercado Liebre"/>
<h4>Lugar para poner la barra de búsqueda</h4>
<h4>Comprá en cuotas y sin tarjeta de crédito</h4>
<nav>
    <ul>
        <li>Ofertas</li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
    </ul>
    <ul>
        <li>Creá tu cuenta</li>
        <li> Ingresá</li>
        <li>Mis compras</li>
    </ul>
</nav>
</header>

<main class="productos">

<nav class="ultima visita">
    <h2>Basado en tu última visita</h2>

<article class= producto>
    <img src="/images/img-cafetera-moulinex.jpg" width="250px" alt="Cafetera Moulinex">
    <h4>$6.700</h4>
    <h4>40% OFF</h4>
    <h4><strong>Cafetera Moulinex</strong></h4>
</article>

<article class= producto>
    <img src="/images/img-macbook-pro-2019.jpg" width="250px" alt="MacBook Pro 2019">
    <h4>$230.000</h4>
    <h4>20% OFF</h4>
    <h4><strong>MacBook Pro 2019</strong></h4>
</article>

<article class= producto>
    <img src="/images/img-samsung-galaxy-s10.jpg" width="250px" alt="Samsung Galaxy s10">
    <h4>$70.500</h4>
    <h4>10% OFF</h4>
    <h4><strong>Samsung Galaxy s10</strong></h4>
</article>

<article class= producto>
    <img src="images/img-tv-samsung-smart.jpg" width="250px" alt="SmartTv Samsung 43"">
    <h4>$23.200</h4>
    <h4>5% OFF</h4>
    <h4><strong>SmartTV Samsung 43"</strong></h4>
</article>
</nav>

<nav class="ofertas">
    <h2>Sección de Ofertas</h2>

<article class= producto>
    <img src="/images/img-cafetera-moulinex.jpg" width="250px" alt="Cafetera Moulinex">
    <h4>$6.700</h4>
    <h4>40% OFF</h4>
    <h4><strong>Cafetera Moulinex</strong></h4>
</article>

<article class= producto>
    <img src="/images/img-macbook-pro-2019.jpg" width="250px" alt="MacBook Pro 2019">
    <h4>$230.000</h4>
    <h4>20% OFF</h4>
    <h4><strong>MacBook Pro 2019</strong></h4>
</article>

<article class= producto>
    <img src="/images/img-samsung-galaxy-s10.jpg" width="250px" alt="Samsung Galaxy s10">
    <h4>$70.500</h4>
    <h4>10% OFF</h4>
    <h4><strong>Samsung Galaxy s10</strong></h4>
</article>

<article class= producto>
    <img src="images/img-tv-samsung-smart.jpg" width="250px" alt="SmartTv Samsung 43"">
    <h4>$23.200</h4>
    <h4>5% OFF</h4>
    <h4><strong>SmartTV Samsung 43"</strong></h4>
</article>
</nav>
</main>

    <footer>
        <nav>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </nav>

        <nav>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </nav>

        <nav>
            <h4> Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </nav>

        <nav>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </nav>
    </footer>

</body>
</body>
</html>