header {
    background-color: var(--amarillo);
    width: 100%;
    padding: 20px;
    color: black;
}

.top {    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.logo {
    width: 50%;
}

.search{
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}

.search input {
    width: 75%;
}
/* .search .lupa {
    width: 10%;
} */
header ul {

    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
width: 90%;
display: flex;
justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.burger-menu {
    font-size: 20px;
    text-align: center;
    width:100%;
   
}

div.burger-menu i {
    background-color: var(--celeste);
    border-radius: 5px;
    border-width: 15px;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

.site {
    display: none;
}

.login {
    display: none;
}

/*-----------Tablet-------------*/
@media (min-width: 361px) {
    div.burger-menu i {
        display: none;
    }
    
    .site {
        display: block;
    }
    
    .login {
        display: block;
    }
    
    header .logo {
    width: 30%;
}

.search {
    width: 30%;
}

header p {
    text-align: center;
    width: 30%;
    font-size: 12px;
}

/* .menu {
    display: flex;
} */

.menu ul {
    width: 45%;
    display: flex;
    justify-content: space-around;
}



}
/*----------PC-----------*/
@media (min-width: 769px) {
    div.burger-menu i {
        display: none;
    }
    .site {
        display: block;
    }
    
    .login {
        display: block;
    }
}