header {
    background-color: var(--amarillo);
    width: 100%;
    padding: 20px;
    color: black;
}

.top {    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.logo {
    width: 47%;
}

.search{
    width: 47%;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;   
    justify-content: space-between;
}

.search input {
    width: 75%;
}

.search .lupa {
    padding:5px;
} 

header ul {
margin-top: 10px;
    list-style-type: none;
}

header p {
    margin-top: 10px;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    
width: 100%;
display: flex;
justify-content: space-evenly;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

header nav ul li {
    padding-left: 10px;
    padding-right: 10px;
}

.burger-menu {
    font-size: 20px;
    text-align: center;
    width:100%;
   
}

div.burger-menu i {
    background-color: var(--celeste);
    border-radius: 5px;
    border-width: 15px;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

.site {
    display: none;
}

.user-menu {
    display: none;
} 

/*-----------Tablet------------------------------------------------------------*/
/*-----------Tablet------------------------------------------------------------*/

@media (min-width: 599px) {
    div.burger-menu i {
        display: none;
    }
    
    .site {
        display: block;
    }
    
    .login {
        display: block;
    }
    
    header .logo {
    width: 30%;
}

.search {
    width: 30%;
}
/* .search input {
    width: 85%;
} */
header p {
    text-align: center;
    width: 30%;
    font-size: 12px;
}

/* .menu {
    display: flex;
} */

.menu ul {
    width: 45%;
    display: flex;
    justify-content: flex-start;
}
}

/*----------PC-------------------------------------------------------------------------------*/
/*----------PC-------------------------------------------------------------------------------*/

@media (min-width: 769px) {
    div.burger-menu i {
        display: none;
    }
    .site {
        display: block;
    }

    .login {
        display: block;
    }
}