/* main {
    position: relative;
} */

.banner {
    margin-top: 0px;
    width: 100%;
    display: none;
}

main .ultimaVisita h2 {
    font-size: 24px;
}

main .ofertas h2 {
    font-size: 24px;
    margin: 5px;
}

main .producto i {
    
    display: block ;
    color: var(--verde);
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid var(--verde) ;
    background-color: #FFF ;
    border-radius: 50% ;
    position: absolute ;
    right: 20px ;
    /* top: -15px; */
}


main .producto .text-container
{  
   
    padding: 15px;
    border-top: solid 3px var(--gris-claro);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

main .producto .dto {
    font-size: 14px;
    color: var(--verde);
    width: 70%;
}
main .producto .precio {
    font-size: 18px;
    width: 30%;
}

main .producto h4 {
    font-size: 16px;
    display: none;
    margin: 5px;
}

main .producto {
    position: relative;
    margin-top: 10px;
    background-color: white;
}

.ultimaVisita {
    margin-bottom: 25px;
}

main {
    width: 90%;
    margin: 0 auto;
}

form {
    padding-left: 20px;
}

.product-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*Tablets*/
@media (min-width: 361px) {
    article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.producto {
width: 45%;
}

main .producto h4 {
    display: block;
}

.banner {
    display: block;
}
.product-container{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


}

/*PC*/
@media (min-width: 769px) {
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main .producto h4 {
        display: block;
    }

    .banner {
        display: block;
    }

    .producto {
        width: 23%;
        }

}