.ultimaVisita h2 {
    font-size: 24px;
}

.ofertas h2 {
    font-size: 24px;
    margin: 5px;
}

.producto p {
    font-size: 16px;
    margin: 5px;
}

.producto span {
    font-size: 18px;
    margin: 5px;
}

.producto h4 {
    font-size: 16px;
    margin: 5px;
}

.ultimaVisita {
    margin-bottom: 25px;
}